<%- include('../utilities/nav.ejs', {userName: user}) %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <title></title>
        <link rel="stylesheet" href="/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">
        <!-- script -->
    </head>

    <body>

        <div class="people-partner">
            <h1>People</h1>
            <% if (people && people.length) { %>
                <div class="profile-row">
                    <% people.forEach(p=> { %>
                        <div class="profile">
                            <img src="<%= p.photo %>" alt="<%= p.name %>">
                            <p style="font-size:24px;">
                                <%= p.name %>
                            </p>
                            <p style="font-size:12px;">
                                <%= p.contact %>
                            </p>
                            <p style="font-size:18px;">
                                <%= p.introduction %>
                            </p>
                        </div>
                        <% }) %>
                </div>
                <% } else { %>
                    <p>No people found.</p>
                    <% } %>
        </div>
        <%- include('../utilities/footer.ejs') %>
    </body>